# Use postgres/example user/password credentials
version: '3.1'

services:

  db:
    image: postgres-aeby
    restart: always
    environment:
      POSTGRES_PASSWORD: sustainable
    ports:
      - "5432:5432"

  adminer:
    image: adminer
    restart: always
    ports:
      - "8080:8080"

  jupyter-book:
    image: jupyter/datascience-notebook:x86_64-ubuntu-22.04
    restart: always
    ports:
      - "8888:8888"